body {
  padding: 20px 0;
  font-family: "Helvetica Neue", helvetica, sans-serif;
}

.page-header h1 {
  font-weight: 700;
  font-size: 50px;
}

#logo {
  margin: 20px auto;
}

#menu {

}

#menu {
  border-right: 1px solid #eee;

  .nav > li > a, .nav > .nav-header {
    padding: 3px 15px;
  }

  .nav > li > a {
    // color: #000;
  }

  .nav > li.active > a {
    color: #fff;
    background-color: #428bca;
    border-radius: 2px;
  }

  .nav > .nav-header {
    // color: #ddd;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
}

#menu .nav + .nav {
  margin-top: 10px;
}


#content {

}
