<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kumu Help | {{ page.name }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/index.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body class="{{ page.body_class }}">
    <div class="container">
      <div class="row">
        <nav id="menu" class="text-left col-sm-4 col-md-3 col-lg-3">
          <a href="/"><img id="logo" class="img-responsive" src="/images/kumu-logo-color.png" /></a>

          <ul class="nav nav-list">
            <li class="nav-header">Help</li>
            <li><a href="/">Welcome</a></li>
          </ul>

          <ul class="nav nav-list">
            <li class="nav-header">Basics</li>
            <li><a href="/basics/getting-started.html">Getting Started</a></li>
            <li><a href="/basics/adding-elements.html">Adding Elements & Connections</a></li>
            <li><a href="/basics/imports.html">Importing from Existing Data</a></li>
            <li><a href="/basics/attributes.html">Creating & Using Attributes</a></li>
            <li><a href="/basics/decorations.html">Decorating Your Map</a></li>
            <li><a href="/basics/sharing-and-collaborating.html">Sharing & Collaborating</a></li>
            <li><a href="/basics/browsers.html">Browsers</a></li>
            <li><a href="/basics/faq.html">FAQ</a></li>
          </ul>

          <ul class="nav nav-list">
            <li class="nav-header">Guides</li>
            <li><a href="/guides/the-profile.html">The Profile</a></li>
            <li><a href="/guides/the-toolbar.html">The Toolbar</a></li>
            <li><a href="/guides/perspectives.html">Perspectives</a></li>
            <li><a href="/guides/markdown.html">Markdown</a></li>
            <li><a href="/guides/clustering.html">Clustering</a></li>
            <li><a href="/guides/embeds.html">Embeds</a></li>
            <li><a href="/guides/public-projects.html">Public Projects</a></li>
            <li><a href="/guides/system-mapping.html">System Mapping</a></li>
            <li><a href="/guides/network-analysis.html">Network Analysis</a></li>

          </ul>

          <ul class="nav nav-list">
            <li class="nav-header">References</li>
            <li><a href="/references/css-selector-reference.html">CSS Selector Reference</a></li>
            <li><a href="/references/css-property-reference.html">CSS Property Reference</a></li>
            <li class="hidden"><a href="/references/blueprints.html">Blueprints</a></li>
          </ul>

          <ul class="nav nav-list">
            <li class="nav-header">Support</li>
            <li><a href="mailto:support@kumu.io">Contact Support</a></li>
          </ul>
        </nav>

        <div id="content" class="col-sm-8 col-md-9 col-lg-9">
          <div class="page-header">
            <h1>{{ page.name }}</h1>
          </div>

          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
